.voluntary-page {
  &__user-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__item-block {
    max-width: 840px;
    margin: 20px auto;
    .border-left-2 {
      border-left-color: #00abc0 !important;
    }
  }
  &__schedule {
    margin-bottom: 0.5rem !important;
  }
  &__action {
    text-align: right;
  }
}

.fa-whatsapp:before {
  padding-right: 10px;
  color: #008000;
}

.fa-facebook-f:before {
  color: #0000ff;
}

.fa-instagram:before {
  color: #8a15d2;
}
